<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    {% block meta %}
        {% include 'blocks/meta.html' %}
    {% endblock %}

    {% block stylesheets %}
        {% include 'blocks/stylesheets.html' %}
    {% endblock %}

    {% block header_js %}{% endblock %}

    {% block head_bottom %}{% endblock %}
</head>

<body class="form-page">
<div class="container">

    {% block messages %}
        {% include 'blocks/messages.html' %}
    {% endblock %}

    {% block header %}{% endblock %}

    {% block body %}{% endblock %}

    {% block footer %}{% endblock %}

</div>

{% block footer_js %}
    {% include 'blocks/footer_js.html' %}
{% endblock %}

</body>
</html>