{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Blog{% endblock %}

{% block breadcrumbs %}
    <div id="page-content">
    <ol class="breadcrumb text-center">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'posts:list' %}">Blog</a></li>

        {% block post_detail_link %}{% endblock %}
    </ol>
{% endblock %}

{% block footer_js %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>
{% endblock %}