{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <div class="col-sm-8 col-sm-offset-2">
        {% if post.image %}
            <img src="{{ post.image.url }}" class="img-responsive"/>
        {% endif %}

        <h2>{{ title }} <small>{{ post.publication_date|timesince }}</small></h2>
        {% if post.draft %}<span style="color: red;">Draft</span>{% endif %}

        <p>Author: {% if post.user.get_full_name %}{{ post.user.get_full_name }}{% else %}{{ post.user }}{% endif %}</p>

        {% block social_links %}
            {% include 'blocks/social_links.html' %}
        {% endblock %}

        <div class="col-sm-12 post-detail-content">
            {{ post.get_markdown }}
        </div>

        <div>
            <p class="lead">Comments:</p>
        <form method="POST" action=".">{% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Post comment" class="btn btn-default">
        </form>
            <hr/>
            {% for comment in post.comments %}
                <blockquote>
                    <p>{{ comment.content }}</p>
                    <footer>via {{ comment.user }} | <cite title="">{{ comment.created_at|timesince }} ago</cite> </footer>
                    <form method="POST" action=".">{% csrf_token %}
                        {{ form|crispy }}
                        <input type="hidden" name="parent_id" value="{{ comment.id }}">
                        <input type="submit" value="Reply" class="btn btn-default">
                    </form>
                </blockquote>
                <hr/>

            {% endfor %}
        </div>
    </div>
{% endblock %}