{% extends 'base.html' %}

{% load staticfiles %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
{% endblock %}

{% block title %}Welcome{% endblock %}

{% block body_class %}has-loading-screen{% endblock %}
{% block body_attributes %}data-spy="scroll" data-target=".navigation"{% endblock %}

{% block body %}

    <div class="page-wrapper" id="page-top">
        {% block header %}
            <header id="page-header">
            <nav class="navigation nav-btn-only background-is-dark">
                <div class="container">
                    <div class="wrapper">
                        <div class="left">
                            <a href="/" class="brand" style="font-size: 3rem;">aite</a>
                        </div>
                        <!--end left-->
                        <div class="right">
                            <ul class="nav navigation-links animate">
                                <li><a href="#page-top" class="scroll">Home</a></li>
                                <li><a href="#features" class="scroll">Features</a></li>
                                <li><a href="#about" class="scroll">About</a></li>
                                <li><a href="#contact" class="scroll">Contact us</a></li>
                                <li><a href="{% url 'posts:list' %}" class="scroll">Blog</a></li>
                            </ul>
                            <div class="nav-btn">
                                <figure></figure>
                                <figure></figure>
                                <figure></figure>
                            </div>
                        </div>
                        <!--end right-->
                    </div>
                </div>
                <!--end container-->
            </nav>
        {% endblock %}

        {% block main %}
            <!--end navigation-->
            <div class="hero-section background-is-dark">
                <div class="wrapper">
                    <div class="hero-title">
                        <div class="container">
                            <div class="animate">
                                <h1 class="opacity-50 center">The great launch in</h1>
                            </div>
                            <div class="count-down animate" data-countdown-year="2017" data-countdown-month="4" data-countdown-day="10"></div>
                            <!--end count-down-->
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3">
                                    <form class="animate center" id="form-hero">
                                        <label for="form-hero-email">Enter your email for the latest news</label>
                                        <div class="input-group">
                                            <input type="email" class="form-control" id="form-hero-email" name="email" placeholder="Your email">
                                            <span class="input-group-btn">
                                            <button class="btn" type="submit"><i class="arrow_right"></i></button>
                                        </span>
                                        </div><!-- /input-group -->
                                    </form>
                                    <!--end form-hero-->
                                </div>
                                <!--end col-md-6-->
                            </div>
                            <!--end row-->
                        </div>
                        <!--end container-->
                    </div>
                    <!--end hero-title-->
                </div>
                <!--end wrapper-->
                <div class="owl-carousel" data-owl-dots="0" data-owl-nav="1" data-owl-autoplay="1" data-owl-loop="1" data-owl-fadeout="1">
                    <div class="hero-slide">
                        <div class="bg-transfer"><img src="{% static 'img/slide-01.png' %}" alt=""></div>
                    </div>
                    <div class="hero-slide">
                        <div class="bg-transfer"><img src="{% static 'img/slide-01.png' %}" alt=""></div>
                    </div>
                    <div class="hero-slide">
                        <div class="bg-transfer"><img src="{% static 'img/slide-01.png' %}" alt=""></div>
                    </div>
                </div>
                <!--end owl-carousel-->
            </div>
            <!--end hero-section-->
            </header>
            <!--end page-header-->

            <div id="page-content">

                <div class="block background-is-dark">
                    <div class="container">
                        <div class="testimonials">
                            <div class="row">
                                <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
                                    <blockquote>
                                        <p>I touch the future. I teach.</p>
                                        <footer>Christa McAuliffe
                                            <figure></figure>
                                        </footer>
                                    </blockquote>
                                    <!--end blockquote-->
                                </div>
                                <!--end col-md-8-->
                            </div>
                            <!--end row-->
                        </div>
                        <!--end testimonials-->
                    </div>
                    <div class="background-wrapper">
                        <div class="background-color" data-background-color-custom="#34404d"></div>
                    </div>
                    <!--end background-wrapper-->
                </div>
                <!--end block-->

                <!-- TODO: Remove hardcoded style for icons -->

                <div class="block" id="features">
                    <div class="container">
                        <div class="row" data-scroll-reveal="enter bottom and move 20px">
                            <div class="col-md-4 col-sm-4">
                                <div class="feature has-icon">
                                    <i class="icon"><img src="{% static 'img/icon-dark-stationery.png' %}" style="opacity: 0.05; max-width: 30%;" alt=""></i>
                                    <!--end icon-->
                                    <div class="description">
                                        <h3>School Management</h3>
                                        <p>Sign up to AITE and get a full-featured organizer that is ready to help you right out of the box. It is much cleverer than you expect.
                                        </p>
                                        <a href="" class="btn btn-primary arrow">Read More</a>
                                    </div>
                                    <!--end description-->
                                </div>
                                <!--end feature-->
                            </div>
                            <!--end col-md-4-->
                            <div class="col-md-4 col-sm-4">
                                <div class="feature has-icon">
                                    <i class="icon"><img src="{% static 'img/icon-dark-teacher.png' %}" style="opacity: 0.05; max-width: 30%;" alt=""></i>
                                    <!--end icon-->
                                    <div class="description">
                                        <h3>Built for teachers by teachers</h3>
                                        <p>AITE is aware of all the best teaching practices and helps you to follow along.
                                        </p>
                                        <a href="" class="btn btn-primary arrow">Read More</a>
                                    </div>
                                    <!--end description-->
                                </div>
                                <!--end feature-->
                            </div>
                            <!--end col-md-4-->
                            <div class="col-md-4 col-sm-4">
                                <div class="feature has-icon">
                                    <i class="icon"><img src="{% static 'img/icon-dark-hat.png' %}" style="opacity: 0.05; max-width: 30%;" alt=""></i>
                                    <!--end icon-->
                                    <div class="description">
                                        <h3>Welcome to class</h3>
                                        <p>Looking for knowledge? AITE has quite some to offer.
                                        </p>
                                        <a href="" class="btn btn-primary arrow">Read More</a>
                                    </div>
                                    <!--end description-->
                                </div>
                                <!--end feature-->
                            </div>
                            <!--end col-md-4-->
                        </div>
                        <!--end row-->
                    </div>
                    <!--end container-->
                    <div class="background-wrapper">
                        <div class="background-color background-color-black opacity-5"></div>
                    </div>
                    <!--end background-wrapper-->
                </div>
                <!--end block-->

                <div class="block" id="about">
                    <div class="container">
                        <h2>About AITE.</h2>
                        <div class="detail left-align" data-scroll-reveal="enter left and move 20px">
                            <div class="title">
                                <h3 class="framed">Simple yet powerful</h3>
                            </div>
                            <!--end title-->
                            <div class="row">
                                <div class="col-md-7 col-sm-7">
                                    <div class="gallery">
                                        <div class="owl-carousel one-item-carousel" data-owl-items="1" data-owl-margin="0" data-owl-nav="0" data-owl-dots="1">
                                            <img src="{% static 'img/gallery-02.jpg' %}" alt="">
                                            <img src="{% static 'img/gallery-02.jpg' %}" alt="">
                                            <img src="{% static 'img/gallery-02.jpg' %}" alt="">
                                        </div>
                                    </div>
                                    <!--end gallery-->
                                </div>
                                <!--end col-md-7-->
                                <div class="col-md-5 col-sm-5">
                                    <div class="description">
                                        <h4>All your planning and scheduling synergized</h4>
                                        <p>Proin orci nisl, posuere viverra erat ut, pellentesque interdum urna. Curabitur
                                            eu risus convallis, auctor augue id, pharetra neque. Morbi pretium neque ac varius
                                            imperdiet. Aliquam sed sapien eget massa hendrerit aliquet. Integer auctor vel
                                            ligula eget faucibus
                                        </p>

                                    </div>
                                    <!--end description-->
                                </div>
                                <!--end col-md-5-->
                            </div>
                            <!--end row-->
                        </div>
                        <!--end detail-->
                        <div class="detail right-align" data-scroll-reveal="enter right and move 20px">
                            <div class="title">
                                <h3 class="framed">Cross-platform</h3>
                            </div>
                            <!--end title-->
                            <div class="row">
                                <div class="col-md-5 col-sm-5">
                                    <div class="description">
                                        <h4>Keep your fingers on a pulse of perfect workflow</h4>
                                        <p>Proin orci nisl, posuere viverra erat ut, pellentesque interdum urna. Curabitur
                                            eu risus convallis, auctor augue id, pharetra neque. Morbi pretium neque ac varius
                                            imperdiet. Aliquam sed sapien eget massa hendrerit aliquet. Integer auctor vel
                                            ligula eget faucibus. Donec tincidunt fermentum purus, eu pharetra arcu scelerisque a.
                                            Maecenas felis eros, volutpat ac justo non, imperdiet porttitor
                                        </p>
                                    </div>
                                    <!--end description-->
                                </div>
                                <!--end col-md-5-->
                                <div class="col-md-7 col-sm-7">
                                    <div class="gallery">
                                        <div class="owl-carousel one-item-carousel" data-owl-items="1" data-owl-margin="0" data-owl-nav="0" data-owl-dots="1">
                                            <img src="{% static 'img/gallery-02.jpg' %}" alt="">
                                            <img src="{% static 'img/gallery-01.jpg' %}" alt="">
                                            <img src="{% static 'img/image-video.jpg' %}" alt="">
                                        </div>
                                    </div>
                                    <!--end gallery-->
                                </div>
                                <!--end col-md-7-->
                            </div>
                            <!--end row-->
                        </div>
                        <!--end detail-->
                    </div>
                    <!--end container-->
                </div>
                <!--end block-->

                <div class="container">
                    <hr>
                </div>
                <!--end container-->

                <!-- <div class="block" id="apartments">
                    <div class="container" data-scroll-reveal="enter bottom and move 20px">
                        <h2>Choose your apartment.</h2>
                        <div class="table-responsive">
                            <table class="pricing-table">
                                <thead>
                                <tr>
                                    <th>Apartment</th>
                                    <th>Rooms</th>
                                    <th>Building</th>
                                    <th>Floor</th>
                                    <th>Apartment area</th>
                                    <th>Balcony area</th>
                                    <th>Price</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>01</td>
                                    <td>3</td>
                                    <td>A1</td>
                                    <td>1</td>
                                    <td>67,5m<sup>2</sup></td>
                                    <td>12,4m<sup>2</sup></td>
                                    <td>$48,000</td>
                                    <td>Available</td>
                                    <td><a href="" class="link arrow underline" data-toggle="modal" data-target="#floor-modal">Detail</a></td>
                                </tr>
                                <tr class="not-available">
                                    <td>02</td>
                                    <td>3</td>
                                    <td>A1</td>
                                    <td>2</td>
                                    <td>48,5m<sup>2</sup></td>
                                    <td>12,8m<sup>2</sup></td>
                                    <td>$67,500</td>
                                    <td>Sold</td>
                                    <td><a href="" class="link arrow underline">Detail</a></td>
                                </tr>
                                <tr>
                                    <td>03</td>
                                    <td>4</td>
                                    <td>A2</td>
                                    <td>2</td>
                                    <td>22,9m<sup>2</sup></td>
                                    <td>36,2m<sup>2</sup></td>
                                    <td>$43,000</td>
                                    <td>Available</td>
                                    <td><a href="" class="link arrow underline" data-toggle="modal" data-target="#floor-modal">Detail</a></td>
                                </tr>
                                <tr>
                                    <td>04</td>
                                    <td>5</td>
                                    <td>A1</td>
                                    <td>4</td>
                                    <td>77,4 m<sup>2</sup></td>
                                    <td>32,1 m<sup>2</sup></td>
                                    <td>$98,400</td>
                                    <td>Available</td>
                                    <td><a href="" class="link arrow underline" data-toggle="modal" data-target="#floor-modal">Detail</a></td>
                                </tr>
                                <tr class="not-available">
                                    <td>05</td>
                                    <td>4</td>
                                    <td>A2</td>
                                    <td>5</td>
                                    <td>86,5 m<sup>2</sup></td>
                                    <td>29,2 m<sup>2</sup></td>
                                    <td>$103,000</td>
                                    <td>Available</td>
                                    <td><a href="" class="link arrow underline">Detail</a></td>
                                </tr>
                                <tr class="not-available">
                                    <td>06</td>
                                    <td>3</td>
                                    <td>B1</td>
                                    <td>3</td>
                                    <td>57,4 m<sup>2</sup></td>
                                    <td>23,5 m<sup>2</sup></td>
                                    <td>$67,000</td>
                                    <td>Sold</td>
                                    <td><a href="" class="link arrow underline">Detail</a></td>
                                </tr>
                                </tbody>
                            </table>
                            <!--end pricing-table-->
                {#                </div>#}
                <!--end table-responsive-->
                {#            </div>#}
                <!--end container-->
                {#        </div> -->#}
                <!--end block-->


                <div class="block">
                    <div class="container">
                        <div class="block background-is-dark" data-scroll-reveal="enter bottom and move 20px">
                            <div class="row">
                                <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                                    <form id="form-subscribe">
                                        <label for="form-subscribe-email">Subscribe to our newsletter to get the latest information</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="form-subscribe-email" name="email" placeholder="Your email">
                                            <span class="input-group-btn">
                                        <button class="btn" type="submit"><i class="arrow_right"></i></button>
                                    </span>
                                        </div><!-- /input-group -->
                                        <p class="note">*Only relevant information, no spam</p>
                                    </form>
                                    <!--end form-->
                                </div>
                                <!--end col-md-8-->
                            </div>
                            <!--end row-->
                            <div class="background-wrapper">
                                <div class="bg-transfer opacity-15">
                                    <img src="{% static 'img/gallery-big-01.jpg' %}" alt="">
                                </div>
                                <div class="background-color background-color-black"></div>
                            </div>
                            <!--end background-wrapper-->
                        </div>
                        <!--end container-->
                    </div>
                    <!--end block-->
                </div>

                <!-- <div class="block"> -->
                <!-- <div class="container"> -->
                <!-- <div class="row"> -->
                <!-- <div class="col-md-3 col-sm-3"> -->
                <!-- <div class="stage completed"> -->
                <!-- <div class="icon"> -->
                <!-- <i class="icon_check"></i> -->
                <!-- </div> -->
                <!--end icon-->
                <!-- <div class="description"> -->
                <!-- <h3>Free</h3> -->
                <!-- <h2>Organizer</h2> -->
                <!-- <figure>Smart To-Do list, calendar and plan builder.</figure> -->
                <!-- </div> -->
                <!--end description-->
                <!-- </div> -->
                <!--end stage-->
                <!-- </div> -->
                <!--end col-md-3-->
                <!-- <div class="col-md-3 col-sm-3"> -->
                <!-- <div class="stage completed"> -->
                <!-- <div class="icon"> -->
                <!-- <i class="icon_check"></i> -->
                <!-- </div> -->
                <!--end icon-->
                <!-- <div class="description"> -->
                <!-- <h3>Free</h3> -->
                <!-- <h2>Teacher Bundle Lite</h2> -->
                <!-- <figure>Access to repository of worksheets and lesson management tools.</figure> -->
                <!-- </div> -->
                <!--end description-->
                <!-- </div> -->
                <!--end stage-->
                <!-- </div> -->
                <!--end col-md-3-->
                <!-- <div class="col-md-3 col-sm-3"> -->
                <!-- <div class="stage in-progress"> -->
                <!-- <div class="icon"> -->
                <!-- <i class="icon_hourglass"></i> -->
                <!-- </div> -->
                <!--end icon-->
                <!-- <div class="description"> -->
                <!-- <h3>Paid</h3> -->
                <!-- <h2>Teacher Bundle</h2> -->
                <!-- <figure></figure> -->
                <!-- </div> -->
                <!--end description-->
                <!-- </div> -->
                <!--end stage-->
                <!-- </div> -->
                <!--end col-md-3-->
                <!-- <div class="col-md-3 col-sm-3"> -->
                <!-- <div class="stage not-completed"> -->
                <!-- <div class="icon"> -->
                <!-- <i class="icon_close"></i> -->
                <!-- </div> -->
                <!-- end icon -->
                <!-- <div class="description"> -->
                <!-- <h3>4. Stage</h3> -->
                <!-- <h2>Project done</h2> -->
                <!-- <figure>Not completed</figure> -->
                <!-- </div> -->
                <!--end description-->
                <!-- </div> -->
                <!--end stage-->
                <!-- </div> -->
                <!--end col-md-3-->
                <!-- </div> -->
                <!--end row-->
                <!-- </div> -->
                <!--end container-->
                <!-- </div> -->
                <!--end block-->
                {##}
                {#        <div class="block" id="gallery">#}
                {#            <div class="container" data-scroll-reveal="enter bottom and move 20px">#}
                {#                <h2>Gallery.</h2>#}
                {#                <div class="gallery">#}
                {#                    <div class="row">#}
                {#                        <div class="col-md-4 col-sm-4">#}
                {#                            <a href="{% static 'img/gallery-big-01.jpg' %}" class="gallery-item image-popup">#}
                {#                                <div class="image bg-transfer">#}
                {#                                    <img src="{% static 'img/gallery-03.jpg' %}" alt="">#}
                {#                                </div>#}
                {#                            </a>#}
                {#                            <!--end gallery-item-->#}
                {#                        </div>#}
                {#                        <!--end col-md-4-->#}
                {#                        <div class="col-md-4 col-sm-4">#}
                {#                            <a href="{% static 'img/gallery-big-01.jpg' %}" class="gallery-item image-popup">#}
                {#                                <div class="image bg-transfer">#}
                {#                                    <img src="{% static 'img/gallery-04.jpg' %}" alt="">#}
                {#                                </div>#}
                {#                            </a>#}
                {#                            <!--end gallery-item-->#}
                {#                        </div>#}
                {#                        <!--end col-md-4-->#}
                {#                        <div class="col-md-4 col-sm-4">#}
                {#                            <a href="{% static 'img/gallery-big-01.jpg' %}" class="gallery-item image-popup">#}
                {#                                <div class="image bg-transfer">#}
                {#                                    <img src="{% static 'img/gallery-01.jpg' %}" alt="">#}
                {#                                </div>#}
                {#                            </a>#}
                {#                            <!--end gallery-item-->#}
                {#                        </div>#}
                {#                        <!--end col-md-4-->#}
                {#                        <div class="col-md-4 col-sm-4">#}
                {#                            <a href="{% static 'img/gallery-big-01.jpg' %}" class="gallery-item image-popup">#}
                {#                                <div class="image bg-transfer">#}
                {#                                    <img src="{% static 'img/image-video.jpg' %}" alt="">#}
                {#                                </div>#}
                {#                            </a>#}
                {#                            <!--end gallery-item-->#}
                {#                        </div>#}
                {#                        <!--end col-md-4-->#}
                {#                        <div class="col-md-4 col-sm-4">#}
                {#                            <a href="{% static 'img/gallery-big-01.jpg' %}" class="gallery-item image-popup">#}
                {#                                <div class="image bg-transfer">#}
                {#                                    <img src="{% static 'img/gallery-02.jpg' %}" alt="">#}
                {#                                </div>#}
                {#                            </a>#}
                {#                            <!--end gallery-item-->#}
                {#                        </div>#}
                {#                        <!--end col-md-4-->#}
                {#                        <div class="col-md-4 col-sm-4">#}
                {#                            <a href="{% static 'img/gallery-big-01.jpg' %}" class="gallery-item image-popup">#}
                {#                                <div class="image bg-transfer">#}
                {#                                    <img src="{% static 'img/gallery-04.jpg' %}" alt="">#}
                {#                                </div>#}
                {#                            </a>#}
                {#                            <!--end gallery-item-->#}
                {#                        </div>#}
                {#                        <!--end col-md-4-->#}
                {#                    </div>#}
                {#                    <!--end row-->#}
                {#                </div>#}
                {#                <!--end gallery-->#}
                {#            </div>#}
                {#        </div>#}
                {#        <!--end block-->#}

                <div class="block">
                    <div class="container">
                        <h2>From the blog.</h2>
                        <div class="row">

                            {% for post in posts %}
                                <div class="col-md-4 col-sm-4">
                                    <div class="blog-item" data-scroll-reveal="enter left and move 20px">
                                        <a href="#" class="image">
                                            <h3>{{ post.title }}</h3>
                                            <div class="bg-transfer">
                                                {% if post.image %}<img src="{{ post.image.url }}" alt="">{% endif %}
                                            </div>
                                        </a>
                                        <!--end image-->
                                        <figure class="date"><i class="icon_clock_alt"></i>{{ post.publication_date }}</figure>
                                        <p>
                                            {{ post.content|truncatewords:15 }}
                                        </p>
                                        <a href="" class="btn btn-rounded btn-primary">Read More</a>
                                    </div>
                                    <!--end blog-item-->
                                </div>
                            {% endfor %}

                        </div>
                        <!--end row-->
                    </div>
                    <!--end container-->
                </div>
                <!--end block-->

            </div>
            <!--end page-content-->
        {% endblock %}

        {% block footer %}
            <footer id="page-footer" class="block background-is-dark">
                <div class="container">
                    <a href="/" class="brand" style="font-size: 3rem;">aite</a>

                    <!--end brand-->
                    <div class="contact map" id="contact">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <h3>Map</h3>
                                <div class="map" id="map"></div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <h3>Address</h3>
                                        <address>
                                            Zumazu Inc.<br>
                                            <!-- 51, Neibuta, Vladivostok<br>
                                            West Newton, PA 15089<br> -->
                                            <br>
                                            <!-- +1 (734) 123-4567<br> -->
                                            <a href="#">hello@aite.today</a>
                                        </address>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <h3>Social</h3>
                                        <div class="social">
                                            <a href="#"><i class="social_facebook_circle"></i>Facebook</a>
                                            <a href="#"><i class="social_twitter_circle"></i>Twitter</a>
                                            <a href="#"><i class="social_instagram_circle"></i>Instagram</a>
                                            <!-- <a href="#"><i class="social_skype_circle"></i>Skype</a> -->
                                        </div>
                                        <!--end social-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <h3>Contact form</h3>
                                <form id="form-contact" method="post" class="clearfix inputs-underline">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="form-contact-name" name="name" placeholder="Your Name" required>
                                            </div>
                                            <!--end form-group -->
                                        </div>
                                        <!--end col-md-6 col-sm-6 -->
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <input type="email" class="form-control" id="form-contact-email" name="email" placeholder="Your Email" required>
                                            </div>
                                            <!--end form-group -->
                                        </div>
                                        <!--end col-md-6 col-sm-6 -->
                                    </div>
                                    <!--end row -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <textarea class="form-control" id="form-contact-message" rows="8" name="message" placeholder="Your Message" required></textarea>
                                            </div>
                                            <!--end form-group -->
                                        </div>
                                        <!--end col-md-12 -->
                                    </div>
                                    <!--end row -->
                                    <div class="form-group clearfix">
                                        <button type="submit" class="btn pull-right btn-primary btn-rounded" id="form-contact-submit">Send a Message</button>
                                    </div>
                                    <!--end form-group -->
                                    <div id="form-contact-status"></div>
                                </form>
                                <!--end form-contact -->
                            </div>
                            <!--end col-md-6-->
                        </div>
                        <!--end row-->
                    </div>
                    <!--end contact map-->
                    <hr>
                    <div class="note">&copy; 2017 All Rights Reserved</div>
                    <!--end note-->
                    <div class="to-top">
                        <a href="#page-top" class="arrow-up framed scroll">
                            <i class="arrow_up"></i>
                        </a>
                    </div>
                </div>
                <!--end container-->
                <div class="background-wrapper">
                    <div class="bg-transfer opacity-30">
                        <img src="{% static 'img/slide-02.jpg' %}" alt="">
                    </div>
                    <div class="background-color background-color-black"></div>
                </div>
                <!--end background-wrapper-->
            </footer>
            <!--end page-footer-->
        {% endblock %}

    </div>
    <!--end page-wrapper-->
{% endblock %}

{% block modals %}
    <div class="modal fade apartment-selector" id="floor-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="icon_close"></i></button>
        <div class="modal-content">
            <div class="modal-header">
                <div class="title">
                    <h4>Building A</h4>
                    <h3>Floor 3</h3>
                    <h1 class="modal-title">Apartment 01</h1>
                    <h2>$69,000</h2>
                </div>
            </div>
            <!--end modal-header-->
            <div class="modal-body">
                <div class="left">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#modal-floor-plan-1" aria-controls="modal-floor-plan-1" role="tab" data-toggle="tab">Floor plan</a></li>
                        <li role="presentation"><a href="#modal-gallery-1" aria-controls="modal-gallery-1" role="tab" data-toggle="tab">Gallery</a></li>
                    </ul>
                    <!--end nav-tabs-->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="modal-floor-plan-1">
                            <a href="assets/img/floor-plan.jpg" class="image-popup"><img src="assets/img/floor-plan.jpg" alt=""></a>
                            <div class="note">Click to zoom</div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="modal-gallery-1">
                            <div class="gallery">
                                <div class="one-item-carousel" data-owl-items="1" data-owl-margin="0" data-owl-nav="0" data-owl-dots="1">
                                    <img src="assets/img/gallery-01.jpg" alt="">
                                    <img src="assets/img/image-video.jpg" alt="">
                                    <img src="assets/img/gallery-02.jpg" alt="">
                                </div>
                            </div>
                            <!--end gallery-->
                            <a href="http://vimeo.com/24506451" class="video-tour video-popup"><i class="play-icon arrow_triangle-right"></i>Click to take a video tour</a>
                        </div>
                    </div>
                    <!--end tab-content-->
                </div>
                <!--end left-->
                <div class="right">
                    <h3>Parameters</h3>
                    <dl>
                        <dt>Kitchen</dt>
                        <dd>24m<sup>2</sup></dd>
                        <dt>Master bedroom</dt>
                        <dd>58m<sup>2</sup></dd>
                        <dt>Balcony</dt>
                        <dd>67m<sup>2</sup></dd>
                        <dt>Toilet</dt>
                        <dd>20m<sup>2</sup></dd>
                        <dt>Living room</dt>
                        <dd>77m<sup>2</sup></dd>
                        <dt>Passage</dt>
                        <dd>48m<sup>2</sup></dd>
                    </dl>
                    <h3>Description</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vehicula mauris at finibus efficitur.
                        Nulla facilisi. Proin sodales nibh id consequat mattis. Phasellus eu consequat nunc.
                    </p>
                    <hr>
                    <figure><a href="#" class="icon"><i class="fa fa-file-pdf-o"></i>Download PDF</a></figure>
                    <figure><a href="#" class="icon"><i class="fa fa-file-image-o"></i>Download Brochure</a></figure>
                </div>
                <!--end right-->
            </div>
            <!--end modal-body-->
        </div>
        <!--end modal-content-->
    </div>
    <!--end modal-dialog-->
</div>
<!--end modal-->
{% endblock %}

{% block footer_js %}
    <script type="text/javascript" src="{% static 'js/jquery-2.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/scrollReveal.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/readmore.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.plugin.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/pace.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>

    <script type="text/javascript">
        const latitude = 34.038405;
        const longitude = -117.946944;
        const mapTheme = "dark";
        google.maps.event.addDomListener(window, 'load', simpleMap(latitude, longitude, markerImage, mapTheme));
    </script>
{% endblock %}