h1 {
	color: #777;
}

.wmd-panel {
    margin-right: 0 !important;
    margin-left: 0 !important;
    width: 100% !important;
    min-width: 150px !important;
}

.comment-reply {
    display: none;
}

#page-content {
    margin-top: 82px; !important;
}

.navigation {
    position: absolute; !important;
    left: 0; !important;
    top: 0; !important;
    background-color: rgba(0,0,0,0.8); !important;
}


/* POST LIST VIEW */

.card {
    border: 0;
    border-radius: 3px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    padding: 0;
}

.card-header-img {
    border: 0;
    border-bottom-left-radius: 50px;
    border-bottom: 5px solid orangered;
}

.post-detail-content {
    margin: 10px;
}

/* POST DETAIL VIEW */

.wide-image {
    border: 0;
    border-bottom: 5px solid orangered;
    width: 100%;
    max-height: 500px;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-top: -20px;
}

/* Set the image to fill its parent and make transparent */
.wide-image img {
  min-height: 100%;
  min-width: 100%;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
  /* modern browsers */
  opacity: 0;
}