<div class="block" id="about">
    <div class="container">
        <h2>About AITE.</h2>
        <div class="detail left-align" data-scroll-reveal="enter left and move 20px">
            <div class="title">
                <h3 class="framed">Simple yet powerful</h3>
            </div>
            <div class="row">
                <div class="col-md-7 col-sm-7">
                    <div class="gallery">
                        <div class="owl-carousel one-item-carousel" data-owl-items="1" data-owl-margin="0" data-owl-nav="0" data-owl-dots="1">
                            <img src="{% static 'img/gallery-02.jpg' %}" alt="">
                            <img src="{% static 'img/gallery-02.jpg' %}" alt="">
                            <img src="{% static 'img/gallery-02.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-5">
                    <div class="description">
                        <h4>All your planning and scheduling synergized</h4>
                        <p>Proin orci nisl, posuere viverra erat ut, pellentesque interdum urna. Curabitur
                            eu risus convallis, auctor augue id, pharetra neque. Morbi pretium neque ac varius
                            imperdiet. Aliquam sed sapien eget massa hendrerit aliquet. Integer auctor vel
                            ligula eget faucibus
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="detail right-align" data-scroll-reveal="enter right and move 20px">
            <div class="title">
                <h3 class="framed">Cross-platform</h3>
            </div>
            <div class="row">
                <div class="col-md-5 col-sm-5">
                    <div class="description">
                        <h4>Keep your fingers on a pulse of perfect workflow</h4>
                        <p>Proin orci nisl, posuere viverra erat ut, pellentesque interdum urna. Curabitur
                            eu risus convallis, auctor augue id, pharetra neque. Morbi pretium neque ac varius
                            imperdiet. Aliquam sed sapien eget massa hendrerit aliquet. Integer auctor vel
                            ligula eget faucibus. Donec tincidunt fermentum purus, eu pharetra arcu scelerisque a.
                            Maecenas felis eros, volutpat ac justo non, imperdiet porttitor
                        </p>
                    </div>
                </div>
                <div class="col-md-7 col-sm-7">
                    <div class="gallery">
                        <div class="owl-carousel one-item-carousel" data-owl-items="1" data-owl-margin="0" data-owl-nav="0" data-owl-dots="1">
                            <img src="{% static 'img/gallery-02.jpg' %}" alt="">
                            <img src="{% static 'img/gallery-01.jpg' %}" alt="">
                            <img src="{% static 'img/image-video.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>