{% extends 'base.html' %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.2.0/fullcalendar.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.45/css/bootstrap-datetimepicker.min.css"/>

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
{% endblock %}

{% block header_js %}
    {{ block.super }}
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"
            integrity="sha256-JklDYODbg0X+8sPiKkcFURb5z7RvlNMIaE3RA2z97vw=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.45/js/bootstrap-datetimepicker.min.js"></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.2.0/fullcalendar.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.2.0/locale-all.js"></script>
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
    <script>
        $(document).ready(function() {

            function getWindowWidth(){
                return $(window).width();
            }

            $('.datetimeinput').datetimepicker({
                format: 'YYYY-MM-DD H:m',
            });


            const calendar = $('#calendar');

            calendar.fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'agendaDay,agendaWeek,month'
                },
                weekNumbersWithinDays: true,
                eventLimit: true,
                navLinks: true,
                editable: true,
                dragOpacity: 1.0,
                aspectRatio: 1.8,
                timezone: 'local',
                windowResize: function(view) {
                    ww = getWindowWidth();
                    view = getView();
                    let currentView = calendar.fullCalendar('getView');

                    function getView(){
                        if (ww <= 800) {
                            return 'agendaDay'
                        } else if (ww > 800 && ww <= 1366) {
                            return 'agendaWeek';
                        } else if (ww > 1366) {
                            return 'month';
                        }
                    }

                    if(view != currentView){
                        $('#calendar').fullCalendar('changeView',view);
                    }
                    if(ww <= 768){
                        $('.fc-header-right .fc-button').hide();
                    }else{
                        $('.fc-header-right .fc-button').show();
                    }
                },

                // SEND THESE TO USER SETTINGS

                // First day of the week
                firstDay: 1,
                // Shown right-to-left
                isRTL: false,
                // Show weekends
                weekends: true,
                // Hide specific weekdays
                hiddenDays: [],
                // Dynamic amount of weeks in a month
                fixedWeekCount: false,
                // Show number of weeks
                weekNumbers: false,
                // Working hours
                businessHours: {
                    dow: [1,2,3,4,5],
                    start: '10:00',
                    end: '18:00'
                },
                // Daily event limit
                views: {
                    agenda: {
                        eventLimit: 3
                    },
                    month: {
                        eventLimit: 4
                    }
                },
                slotDuration: '00:30:00',
                allDaySlot: false,
                nowIndicator: true,
                locale: 'en',

                eventResize: function (event, delta, revertFunc) {
                    {% comment %}
                    TODO: Fix API authentication
                    {% endcomment %}
{#                    console.log(event.id + ' ' + event.title + ' is now ' + event.end.format() + ' ' + event.source.url);#}
{##}
{#                    $.ajax({#}
{#                        type: "PUT",#}
{#                        url: event.source.url + event.id + '/edit',#}
{#                        data: {#}
{#                            "end": event.end#}
{#                        },#}
{#                        dataType: "json"#}
{#                    });#}
                },

                dayClick: function(date, jsEvent, view) {
                    $("#addEvent").modal('show');
                },

                eventClick: function (calEvent, jsEvent, view) {

                    $("#startTimeField").text(moment(calEvent.start).format("YYYY-MM-DD HH:mm"));
                    $("#endTimeField").text(moment(calEvent.end).format("YYYY-MM-DD HH:mm"));
                    $("#descriptionField").text(calEvent.id);
                    $("#titleField").text(calEvent.title);
                    $("#modalTitle").html(calEvent.title);

                    $("#showEvent").modal('show');
                }
            });

            $.getJSON('/api/calendar/list/', function (data) {
                $.each(data, function ($key, $val) {
                    calendar.fullCalendar('addEventSource', $val['url'])
                })
            });

{#        $('#addEvent').on('hidden.bs.modal', function (e) {#}
{#            $("#startTimeField").val("");#}
{#            $("#endTimeField").val("");#}
{#            $("#descriptionField").val("");#}
{#            $("#titleField").val("");#}
{#            $("#modalTitle").html("New event");#}
{#        });#}

        });
    </script>
{% endblock %}

{% block head_bottom %}
    {{ form.media }}
{% endblock %}

{% block main %}
    <div id="page-content">
        <div class="container-fluid">
            <div class="col-sm-12 col-lg-10 col-lg-offset-1">
                <div class="card">
                    <div class="calendar-container" id='calendar'></div>
                </div>

                <div id="addEvent" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title"><span id="createModalTitle">New event</span></h4>
                            </div>
                            <div class="modal-body">
                                <form method="POST" action="" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ event_form|crispy }}
                                    <input class="btn btn-primary" type="submit" value="Save"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="showEvent" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title"><span id="showModalTitle">{% if event %}{{ event }}{% endif %}</span></h4>
                            </div>
                            <div class="modal-body">
                                <span id="titleField"></span><br/>
                                <span id="startTimeField"></span> - <span id="endTimeField"></span><br/>
                                <span id="descriptionField"></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <br/>
{% endblock %}

{% block post_content %}
    </div>
    </div>
{% endblock %}

{% block footer_js %}
{% endblock %}
