{% load staticfiles %}

<div class="block" id="features">
    <div class="container">
        <div class="row" data-scroll-reveal="enter bottom and move 20px">
            <div class="col-md-4 col-sm-4">
                <div class="feature has-icon">
                    <i class="icon"><img src="{% static 'img/icon-dark-stationery.png' %}" style="opacity: 0.05; max-width: 30%;" alt=""></i>
                    <div class="description">
                        <h3>School Management</h3>
                        <p>Sign up to AITE and get a full-featured organizer that is ready to help you right out of the box. It is much cleverer than you expect.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="feature has-icon">
                    <i class="icon"><img src="{% static 'img/icon-dark-teacher.png' %}" style="opacity: 0.05; max-width: 30%;" alt=""></i>
                    <div class="description">
                        <h3>Built for teachers by teachers</h3>
                        <p>AITE is aware of all the best teaching practices and helps you to follow along.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="feature has-icon">
                    <i class="icon"><img src="{% static 'img/icon-dark-hat.png' %}" style="opacity: 0.05; max-width: 30%;" alt=""></i>
                    <div class="description">
                        <h3>Welcome to class</h3>
                        <p>Looking for knowledge? AITE has quite some to offer.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="background-wrapper">
        <div class="background-color background-color-black opacity-5"></div>
    </div>
</div>