<div class="block" id="gallery">
    <div class="container" data-scroll-reveal="enter bottom and move 20px">
        <h2>Gallery.</h2>
        <div class="gallery">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <a href="{% static 'img/gallery-big-01.jpg' %}" class="gallery-item image-popup">
                        <div class="image bg-transfer">
                            <img src="{% static 'img/gallery-03.jpg' %}" alt="">
                        </div>
                    </a>
                    <!--end gallery-item-->
                </div>
                <!--end col-md-4-->
                <div class="col-md-4 col-sm-4">
                    <a href="{% static 'img/gallery-big-01.jpg' %}" class="gallery-item image-popup">
                        <div class="image bg-transfer">
                            <img src="{% static 'img/gallery-04.jpg' %}" alt="">
                        </div>
                    </a>
                    <!--end gallery-item-->
                </div>
                <!--end col-md-4-->
                <div class="col-md-4 col-sm-4">
                    <a href="{% static 'img/gallery-big-01.jpg' %}" class="gallery-item image-popup">
                        <div class="image bg-transfer">
                            <img src="{% static 'img/gallery-01.jpg' %}" alt="">
                        </div>
                    </a>
                    <!--end gallery-item-->
                </div>
                <!--end col-md-4-->
                <div class="col-md-4 col-sm-4">
                    <a href="{% static 'img/gallery-big-01.jpg' %}" class="gallery-item image-popup">
                        <div class="image bg-transfer">
                            <img src="{% static 'img/image-video.jpg' %}" alt="">
                        </div>
                    </a>
                    <!--end gallery-item-->
                </div>
                <!--end col-md-4-->
                <div class="col-md-4 col-sm-4">
                    <a href="{% static 'img/gallery-big-01.jpg' %}" class="gallery-item image-popup">
                        <div class="image bg-transfer">
                            <img src="{% static 'img/gallery-02.jpg' %}" alt="">
                        </div>
                    </a>
                    <!--end gallery-item-->
                </div>
                <!--end col-md-4-->
                <div class="col-md-4 col-sm-4">
                    <a href="{% static 'img/gallery-big-01.jpg' %}" class="gallery-item image-popup">
                        <div class="image bg-transfer">
                            <img src="{% static 'img/gallery-04.jpg' %}" alt="">
                        </div>
                    </a>
                    <!--end gallery-item-->
                </div>
                <!--end col-md-4-->
            </div>
            <!--end row-->
        </div>
        <!--end gallery-->
    </div>
</div>
<!--end block-->