<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
    <i class="social_facebook_circle"></i>
</a>
<a href="https://twitter.com/home?status={{ post.content|urlencode|truncatechars:140 }}{{ request.build_absolute_uri }}">
    <i class="social_twitter_circle"></i>
</a>
<a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'><i class="social_googleplus_circle"></i></a>
<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ instance.title|urlencode }}&source={{ request.build_absolute_uri }}">
    <i class="social_linkedin_circle"></i>
</a>
{#<i class="social_instagram_circle"></i>#}