{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}{% endblock %}
    </title>

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

    {% block meta %}
        {% include 'blocks/meta.html' %}
    {% endblock %}

    {% block stylesheets %}
        {% include 'blocks/stylesheets.html' %}
    {% endblock %}

    {% block header_js %}
    {% endblock %}

    {% block head_bottom %}
    {% endblock %}
</head>

<body class="{% block body_class %}has-loading-screen{% endblock %}"
        {% block body_attributes %} data-spy="scroll" data-target=".navigation"{% endblock %}>

{% block pre_content %}
    <div class="page-wrapper" id="page-top">
{% endblock %}

{% block messages %}
    {% include 'blocks/messages.html' %}
{% endblock %}

{% block navigation %}
    {% include 'blocks/default_navigation.html' %}
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
{% endblock %}

{% block footer %}
    {% include 'blocks/default_footer.html' %}
{% endblock %}

{% block post_content %}
    </div>
    </div>
{% endblock %}

{% block modals %}
{% endblock %}

{% block footer_js %}
    {% include 'blocks/footer_js.html' %}
{% endblock %}

</body>
</html>