{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}{% endblock %}
    </title>

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

    {% block meta %}
        {% include 'blocks/meta.html' %}
    {% endblock %}

    {% block stylesheets %}
        {% include 'blocks/stylesheets.html' %}
    {% endblock %}

    {% block header_js %}
    {% endblock %}

    {% block head_bottom %}
    {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}" {% block body_attributes %}{% endblock %}>

{% block pre_content %}
{% endblock %}

{% block messages %}
    {% include 'blocks/messages.html' %}
{% endblock %}

{% block navigation %}
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block post_content %}
{% endblock %}

{% block modals %}
{% endblock %}

{% block footer_js %}
    {% include 'blocks/footer_js.html' %}
{% endblock %}

</body>
</html>